.field {
  position: relative;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: .5rem;
  margin: 1rem 0 2rem;
  min-width: 420px;

  input {
    display: block;
    &:not([type='checkbox']) {
      background-color: rgba(255, 255, 255, .2);
      box-shadow: var(--shadow-5);
      border-radius: var(--radius);
      border: none;
      color: white;
      flex: 1;
      padding: 5px 10px;
      z-index: 1;
      min-height: 38px;
      width: 100%;
    }

    &:focus {
      border: 2px solid var(--accent-color);
      box-shadow: 0 0 8px 3px rgba(var(--accent-rgb), .25);
      outline: none;
    }

    &.is-failing:focus {
      border: 2px solid var(--error-color);
      box-shadow: 0 0 8px 3px rgba(var(--error-rgb), .25);
    }
  }
}

.inputWrap {
  position: relative;
  width: stretch;
  max-width: 520px;
  display: block;
}

.warnSign {
  position: absolute;
  top: 50%;
  left: -2.5rem;
  mix-blend-mode: lighten;
  font-size: 1.25rem;
  opacity: .7;
  transform: translateY(-50%);
}

.warnText {
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
  color: var(--error-color);
  font-size: .7rem;
  font-weight: 800;
  text-align: right;
  text-overflow: ellipsis;

  &:not(:hover) {
    overflow: hidden;
    white-space: nowrap;
    width: 66%;
  }
}